<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="send-email">
      <div class="cntr-img__send-email"></div>
      <div class="cntr-info__send-email">
        <h1>Bienvenido Berta!</h1>

        <p>
          Ahora empieza a usar nuestra plataforma potencializar tus canales de
          chat atendiendo de manera centralizada y organizada todos tus chats de
          WhatsApp, Instagram, Páginas de Facebook, Sitios Web y más.
        </p>

        <p>A continuación te enviamos una copia de tus datos de acceso:</p>

        <p><b>Link de Ingreso:</b> https://liveconnect.chat/login</p>
        <p><b>Usuario:</b> bertainesmazo@gmail.com</p>
        <p><b>Contraseña:</b> Berta123*</p>

        <p>
          recuerda que puedes cambiar tu contraseña desde tu perfil en cualquier
          momento. Esperamos que puedas sacarle el mayor provecho a nuestra
          plataforma le hemos puesto todo el corazón a hacer un sistema
          realmente pueda ayudarte.
        </p>
      </div>
    </section>
  </body>
</html>
